html,
body,
#root,
.App,
.App:first-child {
  height: 100%;
  background-color: gray;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.current-session {
  width: 100%;
  height: 36px;
  padding: 5px;
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  color: white !important;
  min-width: 100px !important;
}

.button:hover {
  background-color: inherit;
}

.blue-background {
  background-color: #00acee !important;
}

.blue-color {
  color: #00acee !important;
}

.current-session > span {
  margin-right: 10px;
}

.error {
  color: red !important;
}

.float-right {
  float: right !important;
}

.full-height {
  height: 100% !important;
}

.green-background {
  background-color: #66bb6a !important;
}

.green-color {
  color: #66bb6a !important;
}

.mrgn-0 {
  margin: 0px;
}

.mrgn-r8 {
  margin-right: 8px !important;
}

.mrgn-t8 {
  margin-top: 8px !important;
}

.mrgn-t16 {
  margin-top: 16px !important;
}

.mrgn-t24 {
  margin-top: 24px !important;
}

.muscle-model {
  position: sticky;
  top: 0px;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

.nav-link:hover {
  color: #65c9ff;
}

.no-decoration {
  text-decoration: none;
}

.orange-background {
  background-color: orange;
}

.pad-l0 {
  padding-left: 0px;
}

.pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.red-background {
  background-color: #ef5350 !important;
}

.red-color {
  color: #ef5350 !important;
}

.record-list-item {
  list-style: none;
  text-align: left;
}

.gray-background {
  background-color: gray !important;
}

.spacer-32 {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
}
.spacer-16 {
  width: 100%;
  height: 16px;
  display: flex;
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.white-border {
  border: 1px solid white !important;
}

.workout-container {
  border: 1px solid green;
  height: 250px;
  position: relative;
}

.workout-container > div > .left {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
}
